#### Загрузка библиотек

In [1]:
!pip install findspark==2.0.1
!pip install pandas==2.0.0
!pip install numpy==1.24.2
!pip install catboost==1.2.2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark==2.0.1 in ./.local/lib/python3.8/site-packages (2.0.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas==2.0.0 in ./.local/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.8/site-packages (from pandas==2.0.0) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.8/site-packages (from pandas==2.0.0) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas==2.0.0) (2023.3.post1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in ./.local/lib/python3.8/site-packages (from pandas==2.0.0) (1.24.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas==2.0.0) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy==1.24.2 in ./.local/lib/python3.8/site-packages (1.24.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: catboost==1.2.2 in ./.local/lib/python3.8/site-packages (1.2.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.8/site-packages (from catboost==1.2.2) (1.9.3)
Requirement already satisfied: numpy>=1.16.0 in ./.local/lib/python3.8/site-packages (from catboost==1.2.2) (1.24.2)
Requirement already satisfied: graphviz in ./.local/lib/python3.8/site-packages (from catboost==1.2.2) (0.20.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.8/site-packages (from catboost==1.2.2) (3.2.2)
Requirement already satisfied: pandas>=0.24 in ./.local/lib/python3.8/site-packages (from catboost==1.2.2) (2.0.0)
Requirement already satisfied: plotly in ./.local/lib/python3.8/site-packages (from catboost==1.2.2) (5.22.0)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from catboost==1.2.2) (1.16.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->catboost==1.2.2) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->catboost==1.2.2) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->catboost==1.2.2) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.8/site-packages (from matplotlib->catboost==1.2.2) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.24->catboost==1.2.2) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.8/site-packages (from pandas>=0.24->catboost==1.2.2) (2024.1)
Requirement already satisfied: tenacity>=6.2.0 in ./.local/lib/python3.8/site-packages (from plotly->catboost==1.2.2) (8.3.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.8/site-packages (from plotly->catboost==1.2.2) (23.2)

## Разведочный анализ датасета

In [2]:
import os

import findspark


findspark.init()
findspark.find()


from pyspark.sql import SparkSession
from pyspark import SparkConf
from catboost import CatBoostClassifier

In [3]:
conf = (
    SparkConf().setMaster("yarn").setAppName("EDA")
        .set("spark.executor.memory", "2g")
        .set("spark.driver.memory", "4g")
        .set("spark.sql.execution.arrow.pyspark.enabled", "true")
)


spark = SparkSession.builder.config(conf=conf).getOrCreate()

Указываем типы данных для столбцов и корректные значения столбцов

In [4]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, TimestampType

s3_filepath = "s3a://amamylov-mlops/2019-08-22.txt"

columns = ['transaction_id',
 'tx_datetime',
 'customer_id',
 'terminal_id',
 'tx_amount',
 'tx_time_seconds',
 'tx_time_days',
 'tx_fraud',
 'tx_fraud_scenario']

#задаем типы данных для фичей
schema = StructType([
    StructField("transaction_id", IntegerType(), True),
    StructField("tx_datetime", TimestampType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("terminal_id", IntegerType(), True),
    StructField("tx_amount", DoubleType(), True),
    StructField("tx_time_seconds", IntegerType(), True),
    StructField("tx_time_days", IntegerType(), True),
    StructField("tx_fraud", IntegerType(), True),
    StructField("tx_fraud_scenario", IntegerType(), True)
])

sdf = spark.read. \
        option("sep", ","). \
        option("comment", "#"). \
        schema(schema). \
        csv(s3_filepath, header=False).toDF(*columns)

sdf.show()

+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|             0|2019-08-22 06:51:03|          0|        711|    70.91|          24663|           0|       0|                0|
|             1|2019-08-22 05:10:37|          0|          0|    90.55|          18637|           0|       0|                0|
|             2|2019-08-22 19:05:33|          0|        753|    35.38|          68733|           0|       0|                0|
|             3|2019-08-22 07:21:33|          0|          0|    80.41|          26493|           0|       0|                0|
|             4|2019-08-22 09:06:17|          1|        981|   102.83|          32777|           0|       0|                0|
|             5|2019-08-22 18:41:25|          3|        205|     34.2|          67285|           0|       0|                0|
|             6|2019-08-22 03:12:21|          3|          0|     47.2|          11541|           0|       0|                0|
|             7|2019-08-22 22:36:40|          6|        809|   139.39|          81400|           0|       0|                0|
|             8|2019-08-22 17:23:29|          7|        184|    87.24|          62609|           0|       0|                0|
|             9|2019-08-22 21:09:37|          8|        931|     61.7|          76177|           0|       0|                0|
|            10|2019-08-22 11:32:42|         10|        663|    40.71|          41562|           0|       1|                2|
|            11|2019-08-22 03:09:26|         10|        770|    63.91|          11366|           0|       0|                0|
|            12|2019-08-22 15:47:54|         10|          0|    58.89|          56874|           0|       0|                0|
|            13|2019-08-22 21:59:20|         10|        649|    89.24|          79160|           0|       0|                0|
|            14|2019-08-22 20:55:13|         11|        380|     9.89|          75313|           0|       0|                0|
|            15|2019-08-22 16:39:03|         11|        337|    83.36|          59943|           0|       0|                0|
|            16|2019-08-22 23:15:07|         11|        973|    35.12|          83707|           0|       0|                0|
|            17|2019-08-22 07:39:45|         12|          9|     74.0|          27585|           0|       0|                0|
|            18|2019-08-22 05:35:39|         12|        745|   108.63|          20139|           0|       0|                0|
|            19|2019-08-22 10:29:16|         12|          9|    84.45|          37756|           0|       0|                0|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
only showing top 20 rows

In [5]:
sdf.printSchema()

root
 |-- transaction_id: integer (nullable = true)
 |-- tx_datetime: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- terminal_id: integer (nullable = true)
 |-- tx_amount: double (nullable = true)
 |-- tx_time_seconds: integer (nullable = true)
 |-- tx_time_days: integer (nullable = true)
 |-- tx_fraud: integer (nullable = true)
 |-- tx_fraud_scenario: integer (nullable = true)

Давайте рассмотрим значения каждой колонки (фичи) в предложенной таблице данных:
1. transaction_id - Уникальный идентификатор транзакции. Это числовое значение, которое служит для идентификации каждой отдельной транзакции в датасете.
2. tx_datetime - Дата и время проведения транзакции. Это строка или объект datetime, который указывает точное время, когда транзакция была выполнена.
3. customer_id - Идентификатор клиента, который совершил транзакцию. Это числовой идентификатор, присвоенный каждому клиенту, и он используется для отслеживания транзакций, совершенных одним и тем же клиентом.
4. terminal_id - Идентификатор терминала, на котором была проведена транзакция. Это число, которое идентифицирует физическое устройство или место, где транзакция была выполнена (например, банкомат или терминал в магазине).
5. tx_amount - Сумма транзакции. Это числовое значение, которое указывает на общую сумму денег, переданных в ходе транзакции.
6. tx_time_seconds - Время транзакции в секундах с начала дня. Это числовое значение, показывающее, сколько секунд прошло с полуночи до момента совершения транзакции.
7. tx_time_days - Количество дней с начала наблюдения до даты транзакции. Это число указывает, на какой день после начала сбора данных произошла транзакция.
8. tx_fraud - Индикатор мошенничества. Это бинарное значение (0 или 1), где 1 указывает на то, что транзакция была мошеннической, а 0 — что транзакция была законной.
9. tx_fraud_scenario - Сценарий мошенничества. Это числовое значение, которое описывает тип мошенничества, если оно имело место (если tx_fraud = 1). Различные числа могут соответствовать разным сценариям мошенничества, например, кража карты, фишинг и т.д.

Сортируем датафрейм по времени, так как исходный не отсортирован

In [6]:
from pyspark.sql.functions import col

sdf = sdf.orderBy(col("tx_datetime"))
sdf.show()

+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|      15100839|       null|     643855|        287|    42.93|         864000|           9|       0|                0|
|      18342252|       null|     713099|        936|   101.43|        1036800|          11|       0|                0|
|      20002662|       null|     773093|        343|     9.71|        1123200|          12|       1|                2|
|      19354697|       null|     359525|        616|     9.58|        1123200|          12|       0|                0|
|      16438382|       null|     498350|        615|   140.26|         950400|          10|       0|                0|
|      22571066|       null|     412353|         32|    90.91|        1296000|          14|       0|                0|
|      20629738|       null|     173429|        685|    55.75|        1209600|          13|       0|                0|
|      21020517|       null|     422579|        511|    48.73|        1209600|          13|       0|                0|
|       1543099|       null|     985197|        967|    85.18|          86400|           0|       0|                0|
|       1670385|       null|      66533|        956|    21.39|         172800|           1|       0|                0|
|       1205236|       null|     769896|         44|     15.1|          86400|           0|       0|                0|
|       4576892|       null|     922295|        241|    59.82|         259200|           2|       0|                0|
|       2615257|       null|     669953|        489|    40.75|         172800|           1|       0|                0|
|       3036595|       null|     938860|        481|    13.52|         172800|           1|       0|                0|
|       1164488|       null|     743659|          0|     7.25|          86400|           0|       0|                0|
|       3837780|       null|     450941|        847|    40.38|         259200|           2|       0|                0|
|        933817|       null|     597125|        611|    62.83|          86400|           0|       0|                0|
|       2898079|       null|     850307|        532|    14.26|         172800|           1|       0|                0|
|       1781446|       null|     137885|        124|     13.7|         172800|           1|       0|                0|
|       3854919|       null|     461823|          0|    58.44|         259200|           2|       0|                0|
+--------------+-----------+-----------+-----------+---------+---------------+------------+--------+-----------------+
only showing top 20 rows

Проверяем количество null в столбце времени. Если их немного можем удалить.

In [7]:
from pyspark.sql.functions import col

total_count = sdf.count()
# Фильтрация строк, где tx_datetime является null
null_count = sdf.filter(col("tx_datetime").isNull()).count()
null_percentage = (null_count / total_count) * 100

print(f"Общее количество строк: {total_count}")
print(f"Количество строк с null в tx_datetime: {null_count}")
print(f"Процент строк с null в tx_datetime: {null_percentage:.2f}%")

# Удаление строк, где tx_datetime равно null
sdf = sdf.na.drop(subset=["tx_datetime"])

Общее количество строк: 46988418
Количество строк с null в tx_datetime: 100
Процент строк с null в tx_datetime: 0.00%

Проверяем transaction_id на уникальность. Если есть записи больше одной, то удаляем следующие за ней.

In [8]:
from pyspark.sql.functions import col

# Группировка по transaction_id и подсчет количества каждого идентификатора
duplicate_counts = sdf.groupBy("transaction_id").count()

# Фильтрация результатов, чтобы найти те, где количество больше 1
duplicates = duplicate_counts.filter(col("count") > 1).orderBy(col("count").desc())

duplicate_count = duplicates.count()
if duplicate_count > 0:
    print(f"Есть повторяющиеся transaction_id. Количество повторений: {duplicate_count}")
    duplicates.show()
else:
    print("Повторяющихся transaction_id нет.")
    
sdf = sdf.dropDuplicates(['transaction_id'])

Есть повторяющиеся transaction_id. Количество повторений: 181
+--------------+-----+
|transaction_id|count|
+--------------+-----+
|       5133913|    2|
|      13463161|    2|
|      11403446|    2|
|       7052242|    2|
|      17098584|    2|
|      17517624|    2|
|      35909184|    2|
|       7365855|    2|
|      15879594|    2|
|      13885299|    2|
|       5881543|    2|
|       5349542|    2|
|      35502726|    2|
|      38290377|    2|
|      24822180|    2|
|      18933927|    2|
|      13075936|    2|
|      24319383|    2|
|      40445669|    2|
|      23385554|    2|
+--------------+-----+
only showing top 20 rows

Проверим есть ли в строках полные дубликаты. Проверять будем по всем колонкам кроме времени

In [9]:
# Список всех столбцов, кроме 'tx_datetime'
columns_to_check = [col_name for col_name in sdf.columns if col_name != 'tx_datetime']
unique_df = sdf.dropDuplicates(columns_to_check)

print(f"Количество строк до удаления дубликатов: {sdf.count()}")
print(f"Количество строк после удаления дубликатов: {unique_df.count()}")

Количество строк до удаления дубликатов: 46988137
Количество строк после удаления дубликатов: 46988137

Дубликатов больше нет, все хорошо! Теперь проверим есть ли аномалии в соответствиях фрода и его сценария. Все легитимные операции должны быть со сценарием 0. А фродовые операциями со сценариями 1,2,3

In [10]:
from pyspark.sql.functions import col

# Группировка данных по столбцам tx_fraud и tx_fraud_scenario и подсчет количества записей для каждой комбинации
fraud_report = sdf.groupBy("tx_fraud", "tx_fraud_scenario").count()
fraud_report.show()

+--------+-----------------+--------+
|tx_fraud|tx_fraud_scenario|   count|
+--------+-----------------+--------+
|       1|                2| 2435433|
|       1|                1|   25653|
|       1|                3|   65895|
|       0|                0|44461156|
+--------+-----------------+--------+

Распределение меток правильное, все хорошо! Теперь проверим id, чтобы не было отрицательных значений.

In [11]:
id_columns = ['transaction_id', 'customer_id', 'terminal_id']

# Фильтрация строк с отрицательными значениями в любой из колонок
negative_values = sdf.filter(
    (col('transaction_id') < 0) |
    (col('customer_id') < 0) |
    (col('terminal_id') < 0)
)

if negative_values.count() > 0:
    print("Есть строки с отрицательными значениями ID.")
    negative_values.show()
else:
    print("Отрицательные значения в ID не найдены.")

Есть строки с отрицательными значениями ID.
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|transaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|       8652632|2019-08-27 03:52:56|    -999999|        561|    74.97|         445976|           5|       0|                0|
|      30318659|2019-09-10 09:28:44|    -999999|         81|    55.97|        1675724|          19|       0|                0|
|      13931349|2019-08-30 17:41:54|    -999999|        936|    88.35|         754914|           8|       0|                0|
|      11061761|2019-08-29 16:15:09|    -999999|        473|     47.9|         663309|           7|       0|                0|
|      44445421|2019-09-19 06:59:51|    -999999|        740|   183.25|        2444391|          28|       0|                0|
|       5740668|2019-08-25 01:00:46|    -999999|        274|     1.76|         262846|           3|       0|                0|
|       7301532|2019-08-26 11:49:23|    -999999|        995|   129.96|         388163|           4|       0|                0|
|       2710771|2019-08-23 09:46:25|    -999999|        947|     8.07|         121585|           1|       0|                0|
|      20597326|2019-09-04 06:08:26|    -999999|        263|   116.01|        1145306|          13|       0|                0|
|       9453882|2019-08-28 21:15:24|    -999999|        256|   114.29|         594924|           6|       0|                0|
|      28240834|2019-09-09 10:13:48|    -999999|        243|    21.68|        1592028|          18|       0|                0|
|      45667318|2019-09-20 08:48:22|    -999999|        904|     5.51|        2537302|          29|       0|                0|
|      19889842|2019-09-03 10:18:45|    -999999|        988|    92.86|        1073925|          12|       0|                0|
|       1974447|2019-08-23 11:56:00|    -999999|        919|     22.9|         129360|           1|       0|                0|
|      42295400|2019-09-18 10:31:16|    -999999|        786|     17.4|        2370676|          27|       0|                0|
|      34867348|2019-09-13 16:14:05|    -999999|         29|   181.08|        1959245|          22|       0|                0|
|      20571546|2019-09-04 12:57:35|    -999999|        847|    51.92|        1169855|          13|       0|                0|
|      24849348|2019-09-06 09:52:12|    -999999|         81|     22.9|        1331532|          15|       0|                0|
|       2575141|2019-08-23 18:05:39|    -999999|        845|    37.24|         151539|           1|       0|                0|
|      14058892|2019-08-30 12:00:48|    -999999|         81|    43.28|         734448|           8|       0|                0|
+--------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
only showing top 20 rows

In [12]:
# Создание нового DataFrame без строк, где ID отрицательные
sdf = sdf.filter(
    (col('transaction_id') >= 0) &
    (col('customer_id') >= 0) &
    (col('terminal_id') >= 0)
)

Сохранение обработанного датафрейма в s3

In [13]:
spark_to_s3 = SparkSession.builder \
    .appName("Write DataFrame to S3") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.access.key", "ACCESS_KEY") \
    .config("spark.hadoop.fs.s3a.secret.key", "SECRET_KEY") \
    .config("spark.hadoop.fs.s3a.endpoint", "storage.yandexcloud.net") \
    .getOrCreate()

In [14]:
output_path = "s3a://amamylov-mlops/2019-08-22.parquet"
sdf.write.parquet(output_path, mode="overwrite")

In [15]:
spark_to_s3.stop()
spark.stop()